{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Сайт Настеньки</title>
    <link href="{% static  "main.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <div id = "logo" onclick="slowScroll('#top')">
       <span>AnastasiyaFotograf</span>
    </div>
    <div id="about">
        <a href="#" title="Обо мне" onclick="slowScroll('#main')">Обо мне</a>
        <a href="#" title="Портфолио" onclick="slowScroll('#port')">Портфолио</a>
        <a href="#" title="Цены" onclick="slowScroll('#price')">Цены</a>
        <a href="#" title="Контакты" onclick="slowScroll('#cont')">Контакты</a>
    </div>
</header>


</body>
</html>
